@import '~/node_modules/normalize.scss/normalize.scss';

html, body {
  height: 100%;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: 'Asap', sans-selif;
  font-weight: 400;
  line-height: 1;
}

.main {
  box-sizing: border-box;
  height: 100%;
  padding: 40px 16px;
  position: absolute;
  text-align: center;
  width: 100%;
  &.is-lilhaino {
    color: #fff;
    .section > svg {
      fill: #fff;
      width: 44%;
    }
  }
  &.is-hisapon {
    color: #000;
    .section > svg {
      fill: #000;
      width: 36%;
    }
  }
}
.section {
  > svg {
    display: block;
    margin: 32px auto;
  }
  .heading-lv2 {
    margin-bottom: 16px;
  }
}
.description {
  font-size: 12px;
  line-height: 1.4;
}
.contacts {
  position: absolute;
  bottom: 40px;
  width: calc(100% - 32px);
}
